# REMOVE ".example" FILE EXTENTION
# credentials.py for TransitMatrix.py
# Contact Fluffy_Nardoragon@mail.de or https://github.com/alfi-floof/TransitMatrix/issues

# HVV GeoFox API
HVV_API_USER = ""
HVV_API_PASSWORD = ""

# DB Timetables API
DB_TIMETABLES_CLIENT_ID = ""
DB_TIMETABLES_API_KEY = ""

if __name__ == "__main__":
    print("This file only contains credential settings.")
    print("To start TransitMatrix, run TransitMatrix.py.")
# REMOVE ".example" FILE EXTENTION
